<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/> 
    <meta name="description" content="Restaurante Wine And Food"/>
    <meta name="robots" content="index,follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Wine And Food</title>
    <link rel="stylesheet" href=""/>
  </head>
  <body>
      <!--Header-Principla-->
      <header>
          <figure><!--Logo de la empresa-->
              <img src="../assets/pics/logo-restaurante.png" alt="Logo del Restaurante Wine And Food" width="120px"/>
          </figure>
          <nav>
              <ul><!--Etique contenedora del menu-->
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="./nosotros.html">Quienes Somos</a></li>
                  <li><a href="./menu.html">Menu</a></li>
                  <li><a href="./reservas.html">Reservas</a></li>
                  <li><a href="./contactenos.html">Contáctenos</a></li>
              </ul>
          </nav>
          <h1>Menu</h1>
      </header>
      <!--Main-Principla-->
      <main>
        <!--Primera-Sección-Main-->
        <section>
          <figure>
            <img src="../assets/pics/lomo-ahumado.jpg" alt="Plato Lomo Ahumado" width="600px"/>
          </figure>
          <div>
            <h2>LOMO AHUMADO</h2>
            <p>10 oz de lomo de res, papas Yukon, verduras asadas y demi-glaze de la casa.</p>
          </div>
        </section>
        <!--Segunda-Sección-Main-->
        <section>
          <div>
            <h2>ENCHILADAS DE CANGREJO Y CAMARONES</h2>
            <p>Camarones gigantes adobados a la parrilla sobre enchiladas de cangrejo, con salsa de mango
               y frijoles negros y salsa de mantequilla de limón.</p>
          </div>
          <figure>
            <img src="../assets/pics/cangrejo-camarones.jpg" alt="Plato Enchiladas de Cangrejo y Camarones" width="600px"/>
          </figure>
        </section>
        <!--Tercera-Sección-Main-->
        <section">
          <figure>
            <img src="../assets/pics/coctel-camaron.jpg" alt="Plato Cótecl de Camaron" width="600px"/>
          </figure>
          <div>
            <h2>CÓCTEL DE CAMARÓN</h2>
            <p>Cuatro camarones jumbo con nuestra salsa Cocktail casera.</p>
          </div>
        </section>
        <!--Cuarta-Sección-Main-->
        <section">
          <div>
            <h2>NUGGETS DE POLLO</h2>
            <p>Trozos de pechuga de pollo ligeramente empanizados, brócoli salteado y queso.</p>
          </div>
          <figure>
            <img src="../assets/pics/nuggets-pollo.jpg" alt="Plato Nuggets de Pollo" width="600px"/>
          </figure>
        </section>
        <!--Quinta-Sección-Main-->
        <section">
          <figure>
            <img src="../assets/pics/lomo-papas.jpg" alt="Plato CONSEJOS DE LOMO" width="600px"/>
          </figure>
          <div>
            <h2>CÓCTEL DE CAMARÓN</h2>
            <p>patatas fritas y ketchup.</p>
          </div>
        </section>
      </main>
      <!--Footer-Principla-->
      <footer>
        <ul><!--Menu Inferior-->
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Política de Cookis </a></li>
        </ul>
        <div><!--Iconos Redes Sociales-->
          <a href="#"><img src="../assets/pics/facebook.png" width="50px" alt="Logo de Facebook"/></a>
          <a href="#"><img src="../assets/pics/instagram.png" width="50px" alt="Logo de Instragram"/></a>
          <a href="#"><img src="../assets/pics/twitter.png" width="50px" alt="Logo de Twitter"/></a>
        </div>
      </footer>
  </body>
</html>