<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/> 
    <meta name="description" content="Restaurante Wine And Food"/>
    <meta name="robots" content="index,follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Wine And Food</title>
    <link rel="stylesheet" href=""/>
  </head>
  <body>
      <!--Header-Principla-->
      <header>
          <div><!--Logo de la empresa-->
              <img src="../assets/pics/logo-restaurante.png" alt="Logo del Restaurante Wine And Food" width="120px">
          </div>
          <nav>
              <ul><!--Etique contenedora del menu-->
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="./nosotros.html">Quienes Somos</a></li>
                  <li><a href="./menu.html">Menu</a></li>
                  <li><a href="./reservas.html">Reservas</a></li>
                  <li><a href="./contactenos.html">Contáctenos</a></li>
              </ul>
          </nav>
          <h1>Quienes Somos</h1>
      </header>
      <!--Main-Principla-->
      <main>
        <!--Primera-Sección-Main-->
        <section>
          <p>Wine And Food es uno de los restaurantes más famosos del país; la creación del grupo de 
            restaurantes colombianos líder, Fink, y el chef ejecutivo Peter Gilmore.</p>
          <p>El restaurante es un espacio orgánico que refleja la cocina inspirada en la naturaleza de 
             Peter Gilmore. La interacción de texturas y colores da vida y una vitalidad que abraza el 
             lugar del restaurante en el círculo de vestimenta del puerto de Colombia. Una oda al paisaje
             colombiano, desde el vasto fondo del océano hasta la corteza agrietada de un árbol de corteza
             de papel, se ha considerado cuidadosamente cada detalle desde cero.</p>
          <figure>
            <img src="../assets/pics/platos-nostros.jpg" alt="Platos de Comida" width="900px"/>
          <figure/>
        </section>
        <!--Segunda-Sección-Main-->
        <section>
          <figure>
            <img src="../assets/pics/chef-nostros.jpg" alt="Chef Cocinado" width="900px"/>
          </figure>
          <p>Wine And Food cuentan con el respaldo de un equipo de ejecutivos y personal 
             apasionados desde hace mucho tiempo. La nueva encarnación de Wine And Food trae un cambio emocionante;
             una oportunidad para que el equipo cree una experiencia gastronómica más personal para nuestros
             huéspedes, respaldada por una generosa dosis de humilde hospitalidad y una sensación de lujo
             discreto.</p>
        </section>
      </main>
      <!--Footer-Principla-->
      <footer>
        <ul><!--Menu Inferior-->
          <li><a href="#">Política de privacidad</a></li>
          <li><a href="#">Política de Cookis </a></li>
        </ul>
        <div><!--Iconos Redes Sociales-->
          <a href="#"><img src="../assets/pics/facebook.png" width="50px" alt="Logo de Facebook"/></a>
          <a href="#"><img src="../assets/pics/instagram.png" width="50px" alt="Logo de Instragram"/></a>
          <a href="#"><img src="../assets/pics/twitter.png" width="50px" alt="Logo de Twitter"/></a>
        </div>
      </footer>
  </body>
</html>